.todo-list {
    width: 100%;
    height: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 0.5rem;
    text-align: center;
    margin-top: 1rem;
    padding: 2rem 0 2rem 0;
}

.todo-list #title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem;
}

.todo-list #sub-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem;
}

.todo-list hr {
    margin: 5rem 3rem;
}

.todo-list label {
    margin : 0.5rem;
}
.todo-list input {
    width: 60%;
    border: 1px solid #dfdfdf;
    border-radius: 0.3rem;
    padding: 0.5rem;
}
.todo-list #deadline{
    width : 12%;
}
.todo-list .buttons{
    float : right;
    margin : 1rem 4rem 0 0;
}
.todo-list button {
    background-color: whitesmoke;
    border: 1px solid #dfdfdf;
    border-radius: 0.3rem;
    font-weight: bold;
}

/* .todo-list #submit-button {
    float: right;
    margin-right : 3rem;
} */

.todo-table table {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #dfdfdf;
}
.container-md a{
    margin-top : 2rem;
    float : right;   
}